.sidebar .user-info {
    background: #333 !important;
}
.sidebar .user-info .image {
    display: block;
}
.form-group .form-line .form-label {
    color: #2b2b2b;
}
.dz-image img{
    width: 130px;
    height:130px;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0;
    visibility: hidden;
}
.sliderCont{
	margin: 10px auto 30px auto;
    border: 3px solid #eee;
}
#signCanvas{
	border: 2px solid #d2d2d2;
}